/* Estilos adicionais para mensagens e botões POST */
.alert {
    padding: 12px;
    border-radius: 4px;
    margin-bottom: 20px;
}
.alert-sucesso {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}
.alert-erro {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}
.btn-limpar {
    background-color: #6c757d;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}
.btn-limpar:hover {
    background-color: #5a6268;
}
.btn-voltar-lista {
    background-color: #6c757d;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;

    width: auto !important;      /* 🔥 mata o width:100% */
    display: inline-block !important;
}

.btn-voltar-lista:hover {
    background-color: #5a6268;
}
.topo-ficha {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.btn-pdf {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: auto; 
    width: auto !important;     
    display: inline-block !important;
}

.aluno-item-link {
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

@media (max-width: 768px) {
    .btn-limpar {
        width: 100%;
    }

    .btn-voltar-lista {
        width: fit-content;
    }
}

.alert {
    padding: 12px;
    border-radius: 4px;
    margin-bottom: 20px;
}
.alert-sucesso {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}
.alert-erro {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}
.btn-limpar{
    background-color: #6c757d;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}
.btn-limpar:hover {
    background-color: #5a6268;
}
.aluno-item-link {
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}
@media (max-width: 768px) {
    .btn-limpar, .btn-voltar-lista {
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
    }
}

.content-wrapper {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.left-card {
    width: 30%;
    min-width: 280px;
}

.right-card {
    width: 70%;
    flex-grow: 1;
    
}

@media (max-width: 768px) {
    .content-wrapper {
        flex-direction: column;
    }

    .left-card,
    .right-card {
        width: 100%;
    }
}